* {
    font-family: Arial, Helvetica, sans-serif;
}




header {
    background-color: lightblue;
    margin-top: 5px;
    
}   

p { 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 30px;
    color: rgb(161, 14, 14);
    position:relative;
    
  }



  #title {
    background-color: beige;
    padding: 2px;
}





h1  {
    color: lightseagreen;
}
.color {
    color:blue
}
#color  {
    color: green
} 











@media (max-width: 899px) {
    .menu input + ul {
        display: none;
    }
    .menu input:checked + ul {
        background-color:rgb(114, 5, 114);
        display: block;
    }
    
}

@media (min-width: 900px) {
    header  {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header nav ul {
        display: flex;
        
    }
    .menu input {
        display: none;
    }
}